header{
    background-color: #333;
    color: #fff;
    padding: 20px;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#skills ul{

   list-style: none;
   padding-left: 0;
   margin: 0;
}

